<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>
<h1 th:text="${title}">仮のタイトル</h1>
<h2 th:text="${complete}"></h2>
<form method="post" action="#" th:action="@{/survey/confirm}" th:object="${surveyForm}">
	<label for="age">年齢：</label>
	<input id="age" name="age" type="text" th:value="*{age}"><br>
	<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
	<label for="satisfication">満足度：</label>
	<div>※1～5で評価してください</div>
	<input id="satisfication" name="satisfication" type="text" th:value="*{satisfication}"><br>
	<div th:if="${#fields.hasErrors('satisfication')}" th:errors="*{satisfication}"></div>
	<label for="comment">コメント：</label>
	<textarea name="comment" id="comment" rows="3" cols="40" th:field="*{comment}"></textarea><br>
	<div th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></div>
	<input type="submit" value="Confirm">
</form>
</body>
</html>